* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-15px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fade-out-left {
  from {
    opacity: 1;
    transform: translateX(0); }
  to {
    opacity: 0;
    transform: translateX(-15px); } }

html,
body {
  /*overflow: hidden;*/
  background: #ddd;
  font-family: 'Noto Sans KR', sans-serif; }

.kee, .saved {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  height: 100%;
  /*slider*/ }
  .kee nav, .saved nav {
    display: flex;
    justify-content: space-between;
    margin: 10px 3% 0; }
    .kee nav .menu, .saved nav .menu {
      width: 150px;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: space-evenly; }
      .kee nav .menu .menu-list, .saved nav .menu .menu-list {
        position: absolute;
        width: 0;
        opacity: 0;
        padding: 50px 10px;
        transition: all .5s; }
        .kee nav .menu .menu-list .menu-items, .saved nav .menu .menu-list .menu-items {
          list-style-type: none;
          text-align: center;
          font-size: 20px;
          padding-bottom: 10px; }
          .kee nav .menu .menu-list .menu-items a, .saved nav .menu .menu-list .menu-items a {
            color: #000;
            text-decoration: none; }
        .kee nav .menu .menu-list.menu-list-open, .saved nav .menu .menu-list.menu-list-open {
          animation: fade-in-right ease .5s forwards;
          z-index: 99999;
          width: 100%;
          top: 0px;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: rgba(255, 255, 255, 0.8); }
        .kee nav .menu .menu-list.menu-list-close, .saved nav .menu .menu-list.menu-list-close {
          animation: fade-out-left ease .5s forwards;
          z-index: 99999;
          width: 0%;
          top: 0px;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: rgba(255, 255, 255, 0); }
      .kee nav .menu .menu-line, .saved nav .menu .menu-line {
        width: 40px;
        height: 2px;
        margin: 5px 0;
        background-color: #000;
        color: #000;
        transform: none;
        transition: transform .3s; }
        .kee nav .menu .menu-line.line-1-x, .saved nav .menu .menu-line.line-1-x {
          transform: rotate(45deg) translate(3px, 2px); }
        .kee nav .menu .menu-line.line-2-x, .saved nav .menu .menu-line.line-2-x {
          transform: rotate(-45deg) translate(4px, -6px); }
    .kee nav .save, .saved nav .save {
      width: 100px;
      border: 1px solid black;
      padding: 7px; }
  .kee .container, .saved .container {
    position: relative;
    width: 100%;
    margin: 0 auto; }
    .kee .container canvas, .saved .container canvas {
      position: absolute; }
    .kee .container #sketchpad, .saved .container #sketchpad {
      top: 3%;
      left: 3%;
      z-index: 999; }
    .kee .container #face, .saved .container #face {
      top: 3%;
      left: 3%;
      z-index: 99;
      background: #fff; }
  .kee .inputs, .saved .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    margin: 0px 3%; }
    .kee .inputs #displayBox, .saved .inputs #displayBox {
      padding-bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .kee .inputs #displayBox .save-color, .saved .inputs #displayBox .save-color {
        margin-right: 20px;
        font-size: 40px; }
      .kee .inputs #displayBox .color-display, .saved .inputs #displayBox .color-display {
        width: 40px;
        height: 40px;
        border: 1px solid black;
        border-radius: 50%; }
      .kee .inputs #displayBox .divider, .saved .inputs #displayBox .divider {
        width: 1px;
        height: 40px;
        background-color: #000;
        margin: 0 30px; }
      .kee .inputs #displayBox .undo, .saved .inputs #displayBox .undo {
        width: 31px;
        height: 50px;
        background-image: url("../imgs/Undo-black_x1.png");
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        position: relative; }
    .kee .inputs .which-container-wrapper, .saved .inputs .which-container-wrapper {
      display: flex;
      margin: 0 10px; }
      .kee .inputs .which-container-wrapper .which-container, .saved .inputs .which-container-wrapper .which-container {
        width: 15px;
        height: 15px;
        background: white;
        margin: 0 5px;
        border-radius: 50%; }
    .kee .inputs .slider-wrap, .saved .inputs .slider-wrap {
      display: flex;
      flex-direction: column;
      align-content: center; }
      .kee .inputs .slider-wrap .slider, .saved .inputs .slider-wrap .slider {
        width: 300px;
        height: 100px;
        overflow-x: scroll;
        overflow-y: hidden; }
        .kee .inputs .slider-wrap .slider .change-saved-colors-container, .saved .inputs .slider-wrap .slider .change-saved-colors-container {
          display: flex;
          align-content: center;
          width: 200%; }
          .kee .inputs .slider-wrap .slider .change-saved-colors-container .change-colors-container, .saved .inputs .slider-wrap .slider .change-saved-colors-container .change-colors-container {
            height: 100px; }
            .kee .inputs .slider-wrap .slider .change-saved-colors-container .change-colors-container .input-container, .saved .inputs .slider-wrap .slider .change-saved-colors-container .change-colors-container .input-container {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding-bottom: 10px; }
              .kee .inputs .slider-wrap .slider .change-saved-colors-container .change-colors-container .input-container input, .saved .inputs .slider-wrap .slider .change-saved-colors-container .change-colors-container .input-container input {
                margin: 10px 0; }
          .kee .inputs .slider-wrap .slider .change-saved-colors-container .saved-colors-container, .saved .inputs .slider-wrap .slider .change-saved-colors-container .saved-colors-container {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-evenly;
            font-size: 12px;
            height: 100px; }
            .kee .inputs .slider-wrap .slider .change-saved-colors-container .saved-colors-container .saved-color-display, .saved .inputs .slider-wrap .slider .change-saved-colors-container .saved-colors-container .saved-color-display {
              width: 40px;
              height: 40px;
              border: 3px solid #fff;
              border-radius: 50%; }
    .kee .inputs .size-input-container, .saved .inputs .size-input-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 10px;
      width: 300px; }
      .kee .inputs .size-input-container input, .saved .inputs .size-input-container input {
        margin: 10px 0; }
    .kee .inputs .clear-canvas, .saved .inputs .clear-canvas {
      border: 1px solid black;
      padding: 7px;
      margin-top: 10px; }
  .kee input[type=range], .saved input[type=range] {
    -webkit-appearance: none;
    /* Hides the slider so that custom slider can be made */
    width: 75%;
    /* Specific width is required for Firefox. */
    background: transparent;
    /* Otherwise white in Chrome */ }
  .kee input[type=range]::-webkit-slider-thumb, .saved input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; }
  .kee input[type=range]::-webkit-slider-thumb, .saved input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin-top: -10px; }
  .kee input[type=range]::-webkit-slider-runnable-track, .saved input[type=range]::-webkit-slider-runnable-track {
    width: 80%;
    height: 1px;
    cursor: pointer;
    background: #ccc;
    border: 1px solid #999; }
  .kee input[type=range]:focus::-webkit-slider-runnable-track, .saved input[type=range]:focus::-webkit-slider-runnable-track {
    background: #000; }
  @media (max-width: 720px) {
    .kee, .saved {
      /*body {
      width:100%;
    }

    #sketchpad {
      width:100%;
    }
    #face {
      width:100%;
    }*/ } }
