* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  /*overflow: hidden;*/
  background: #ddd;
  font-family: 'Noto Sans KR', sans-serif; }

.kee {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  height: 100%;
  /*slider*/ }
  .kee .container {
    position: relative;
    width: 100%;
    margin: 0 auto; }
    .kee .container canvas {
      position: absolute; }
  .kee #sketchpad {
    top: 0;
    z-index: 99999; }
  .kee #face {
    top: 0;
    z-index: 99;
    background: #fff; }
  .kee .inputs {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0px auto; }
    .kee .inputs .input-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 10px; }
      .kee .inputs .input-container input {
        margin: 10px 0; }
  .kee input[type=range] {
    -webkit-appearance: none;
    /* Hides the slider so that custom slider can be made */
    width: 75%;
    /* Specific width is required for Firefox. */
    background: transparent;
    /* Otherwise white in Chrome */ }
  .kee input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; }
  .kee input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #888;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #888;
    cursor: pointer;
    margin-top: -8px; }
  .kee input[type=range]::-webkit-slider-runnable-track {
    width: 80%;
    height: 10px;
    cursor: pointer;
    background: #ccc;
    border: 1px solid #999; }
  .kee input[type=range]:focus::-webkit-slider-runnable-track {
    background: #000; }
  .kee .clear-canvas {
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 1px 1px 1px black;
    outline: none; }
  .kee .press-down {
    box-shadow: 0 0 0 transparent; }
  .kee #displayBox {
    padding-bottom: 30px; }
  .kee #colorDisplay {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 50%; }
  @media (max-width: 720px) {
    .kee {
      /*body {
      width:100%;
    }

    #sketchpad {
      width:100%;
    }
    #face {
      width:100%;
    }*/ } }
