* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-15px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fade-out-left {
  from {
    opacity: 1;
    transform: translateX(0); }
  to {
    opacity: 0;
    transform: translateX(-15px); } }

html,
body {
  /*overflow: hidden;*/
  background: #ddd;
  font-family: 'Noto Sans KR', sans-serif; }

.kee {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  height: 100%;
  /*slider*/ }
  .kee nav {
    display: flex;
    justify-content: space-between;
    margin: 10px 3% 0; }
    .kee nav .menu {
      width: 150px;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: space-evenly; }
      .kee nav .menu .menu-list {
        position: absolute;
        width: 0;
        opacity: 0;
        padding: 50px 10px;
        transition: all .5s; }
        .kee nav .menu .menu-list .menu-items {
          list-style-type: none;
          text-align: center;
          font-size: 20px;
          padding-bottom: 10px; }
          .kee nav .menu .menu-list .menu-items a {
            color: #000;
            text-decoration: none; }
        .kee nav .menu .menu-list.menu-list-open {
          animation: fade-in-right ease .5s forwards;
          z-index: 99999;
          width: 100%;
          top: 0px;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: rgba(255, 255, 255, 0.8); }
        .kee nav .menu .menu-list.menu-list-close {
          animation: fade-out-left ease .5s forwards;
          z-index: 99999;
          width: 0%;
          top: 0px;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: rgba(255, 255, 255, 0); }
      .kee nav .menu .menu-line {
        width: 40px;
        height: 2px;
        background-color: #000;
        color: #000;
        transform: none;
        transition: transform .3s; }
        .kee nav .menu .menu-line.line-1-x {
          transform: rotate(45deg) translate(3px, 2px); }
        .kee nav .menu .menu-line.line-2-x {
          transform: rotate(-45deg) translate(4px, -6px); }
    .kee nav .save {
      width: 100px;
      border: 1px solid black;
      padding: 7px; }
  .kee .container {
    position: relative;
    width: 100%;
    margin: 0 auto; }
    .kee .container canvas {
      position: absolute; }
    .kee .container #sketchpad {
      top: 3%;
      left: 3%;
      z-index: 99999; }
    .kee .container #face {
      top: 3%;
      left: 3%;
      z-index: 99;
      background: #fff; }
  .kee .inputs {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin: 0px 3%; }
    .kee .inputs #displayBox {
      padding-bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .kee .inputs #displayBox #colorDisplay {
        width: 40px;
        height: 40px;
        border: 1px solid black;
        border-radius: 50%; }
      .kee .inputs #displayBox .divider {
        width: 1px;
        height: 40px;
        background-color: #000;
        margin: 0 30px; }
      .kee .inputs #displayBox .undo {
        width: 31px;
        height: 50px;
        background-image: url("../imgs/Undo-black_x1.png");
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        position: relative; }
    .kee .inputs .clear-canvas {
      border: 1px solid black;
      padding: 7px;
      margin-top: 10px; }
    .kee .inputs .input-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 10px; }
      .kee .inputs .input-container input {
        margin: 10px 0; }
  .kee input[type=range] {
    -webkit-appearance: none;
    /* Hides the slider so that custom slider can be made */
    width: 75%;
    /* Specific width is required for Firefox. */
    background: transparent;
    /* Otherwise white in Chrome */ }
  .kee input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; }
  .kee input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin-top: -10px; }
  .kee input[type=range]::-webkit-slider-runnable-track {
    width: 80%;
    height: 1px;
    cursor: pointer;
    background: #ccc;
    border: 1px solid #999; }
  .kee input[type=range]:focus::-webkit-slider-runnable-track {
    background: #000; }
  @media (max-width: 720px) {
    .kee {
      /*body {
      width:100%;
    }

    #sketchpad {
      width:100%;
    }
    #face {
      width:100%;
    }*/ } }
