@import 'partials/base';
@import 'partials/global';
@import 'partials/components';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translateX(-15px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-out-left {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(-15px);
    }
}

html,
body {
    /*overflow: hidden;*/
    background: $light-gray;
    font-family: $font;

    @media(min-width:720px){
        width: 400px;
        margin: 0 auto;
    }

    
}

.kee {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    height: 100%;
    // margin: 15px 5% 0;
    // width:100%;
    &.menu-open {
        opacity: 0.1;
    }
    .save {
        background-color: #000;
        color:#fff;
        padding: 7px 27px;
        font-size: 12px;
        font-weight: 300;
        border: 1px solid #000;
        width: 40%;
        margin: 0 auto;
        text-align: center;

    }
    .container {
        position: relative;
        width: 100%;
        margin: 0 auto; // height: 420px;
        .saved-response {
            opacity:0;
            transition: all .5s;
            &.response{
                position: absolute;
                opacity:1;
                height: 100%;
                width: 100%;
                background: white;
                z-index: 99999999;
                display: flex;
                justify-content: center;
                align-content: center;
                transition: opacity .5s;
            }

            p {
                font-size: $font-p;
            }
        }
        canvas {
            position: absolute;
        }

        #sketchpad {
            top: 3%;
            // left: 2.5%;
            z-index: 999;
            background: #fff;
            box-shadow: 0px 3px 7px 0.1px $dark-gray;
        }

        #face {
            top: 3%;
            // left: 2.5%;
            z-index: 99;
            background: #fff;
            box-shadow: 0px 3px 7px 0.1px $dark-gray;
        }
    }

    .inputs {
        display: flex;
        flex-direction: column;
        align-items: center;

        #displayBox {
            padding: 10px 60px 10px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width:100%;
            background: #fff;
            box-shadow: 0px 2px 6px 0.1px $dark-gray;

            .save-color {
                margin-right: 20px;
                width: 31px;
                height: 50px;
                background-image: url('../imgs/round-highlight_off-24px.svg');
                @extend %icon;
                border: none;
                position: relative;
                transform: rotate(45deg);
            }

            .color-display {
                width: 40px;
                height: 40px;
                border-radius: 50%
            }

            .divider {
                width: 2px;
                height: 40px;
                background-color: $dark-gray;
                margin: 0 30px;
            }

            .undo {
                @extend %icon;
                width: 31px;
                height: 50px;
                background-image: url('../imgs/Undo-black_x1.png');
                border: none;
                position: relative;

            }
        }


        .slider-wrap{
            display:flex;
            flex-direction: column;
            align-items: center;
            height: 175px;
            padding-top: 15px;
            .which-container-wrapper {
                display: flex;
                margin: 3px 10px;
                .which-container {
                    // width: 11px;
                    // height:11px;
                    @include square(11px);
                    background: #D1D1D1;
                    margin: 0 5px;
                    border-radius: 50%;
                    &.this-container {
                        background:#5F5F5F;
                    }
                }
            }

            .slider{
                width: 300px;
                height: 175px;
                overflow-x: hidden;
                overflow-y: hidden;

                .change-saved-colors-container {
                    display: flex;
                    align-content: center;
                    width: 200%;
                    transform: translateX(0) ;
                    transition: transform .5s ease-out .2s;
                    &.animate {
                        transform: translateX(-50%) ;

                    }
                    .change-colors-container {
                        // width: 300px;
                        height: 175px;
                        .input-container {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding-bottom: 10px;
                            .icon {
                                width: 36px;
                                height: 30px;
                                @extend %icon;

                                &.color-icon {
                                    background-image: url('../imgs/color_x1.png');
                                }
                                &.saturation-icon {
                                    background-image: url('../imgs/saturation_x1.png');
                                }
                                &.shade-icon {
                                    background-image: url('../imgs/shade_x1.png');
                                }
                                &.size-icon {
                                    background-image: url('../imgs/shade_x1.png');
                                }

                            }
                            p {
                                margin: 0 7px;
                            }
                            input {
                                margin: 10px 0;
                            }
                        }

                    }
                    .saved-colors-container {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-content: center;
                        font-size: $font-p;
                        height: 175px;
                        p {
                            margin: 20px 0;
                        }
                        .saved-color-display{
                            width: 40px;
                            height: 40px;
                            margin: 10px;
                            border: 3px solid #fff;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
        .clear-canvas {
            border: 1px solid black;
            padding: 7px;
            margin-top: 10px;
        }

    }

}