@import 'partials/base';
@import 'partials/global';
@import 'partials/components';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translateX(-15px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-out-left {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(-15px);
    }
}

html,
body {
    /*overflow: hidden;*/
    background: $light-gray;
    font-family: $font;
}

.kee {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    height: 100%;

    nav {
        display: flex;
        justify-content: space-between;
        margin: 10px 3% 0;

        .menu {
            width: 150px;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: space-evenly;

            .menu-list {
                position: absolute;
                width: 0;
                opacity: 0;
                padding: 50px 100px;
                transition: all .5s;

                .menu-items {
                    list-style-type: none;
                    font-size: $font-h3;
                    padding-bottom: 21px;
                    font-weight: bold;
                    line-height: 30px;


                    a {
                        color: #000;
                        text-decoration: none;
                    }
                }

                &.menu-list-open {
                    animation: fade-in-right ease .5s forwards;
                    z-index: 99999;
                    width: 100%;
                    top: 0px;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: rgba(255, 255, 255, .8);
                }

                &.menu-list-close {
                    animation: fade-out-left ease .5s forwards;
                    z-index: 99999;
                    width: 0%;
                    top: 0px;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: rgba(255, 255, 255, 0);
                }
            }

            .menu-line {
                width: 40px;
                height: 2px;
                margin: 5px 0;
                background-color: #000;
                color: #000;
                transform: none;
                transition: transform .3s;

                &.line-1-x {
                    transform: rotate(45deg) translate(3px, 2px);
                }

                &.line-2-x {
                    transform: rotate(-45deg) translate(4px, -7px);
                }
            }
        }

        .save {
            width: 100px;
            border: 1px solid black;
            padding: 7px;
        }
    }

    .container {
        position: relative;
        width: 100%;
        margin: 0 auto; // height: 420px;

        canvas {
            position: absolute;
        }

        #sketchpad {
            top: 3%;
            left: 2.5%;
            z-index: 999;
        }

        #face {
            top: 3%;
            left: 2.5%;
            z-index: 99;
            background: #fff;
            // box-shadow: 0px 0px .1px .1px #444;
        }
    }

    .inputs {
        display: flex;
        flex-direction: column; 
        align-items: center;
        padding: 0 20px;
        margin: 0px 3%;

        #displayBox {
            padding-bottom: 20px;
            padding-right:60px;
            display: flex;
            justify-content: center;
            align-items: center;

            .save-color {
                margin-right: 20px;
                width: 31px;
                height: 50px;
                background-image: url('../imgs/round-highlight_off-24px.svg');
                @extend %icon;
                border: none;
                position: relative;
                transform: rotate(45deg);
            }

            .color-display {
                width: 40px;
                height: 40px;
                border-radius: 50%
            }

            .divider {
                width: 2px;
                height: 40px;
                background-color: $dark-gray;
                margin: 0 30px;
            }

            .undo {
                @extend %icon;
                width: 31px;
                height: 50px;
                background-image: url('../imgs/Undo-black_x1.png');
                border: none;
                position: relative;

            }
        }
        .which-container-wrapper {
            display: flex;
            margin: 0 10px;
            .which-container {
                // width: 11px;
                // height:11px;
                @include square(11px);
                background: #D1D1D1;
                margin: 0 5px;
                border-radius: 50%;
                &.this-container {
                    background:#5F5F5F;
                }
            }
        }

        .slider-wrap{
            display:flex;
            flex-direction: column;
            align-content: center;
            
            .slider{
                width: 300px;
                height: 119px;
                overflow-x: hidden;
                overflow-y: hidden;
                
                .change-saved-colors-container {
                    display: flex;
                    align-content: center;
                    width: 200%;

                    transform: translateX(0) ;
                    transition: transform .5s ease-out .2s;
                    &.animate {
                        transform: translateX(-50%) ;
                        
                    }
                    .change-colors-container {
                        // width: 300px;
                        height: 150px;
                        .input-container {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding-bottom: 10px;
                            .icon {
                                width: 36px;
                                height: 30px;
                                @extend %icon;
                                

                                &.color-icon {
                                    background-image: url('../imgs/color_x1.png');
                                }
                                &.saturation-icon {
                                    background-image: url('../imgs/saturation_x1.png');
                                }
                                &.shade-icon {
                                    background-image: url('../imgs/shade_x1.png');
                                }
                                &.size-icon {
                                    background-image: url('../imgs/shade_x1.png');
                                }

                            }
                            input {
                                margin: 10px 0;
                            }
                        }
                    }
                    .saved-colors-container {
                        // width: 35%;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        font-size: $font-p;
                        // width: 300px;
                        height: 150px;
                        p {
                            margin: 20px 0;
                        }
                        .saved-color-display{
                            width: 40px;
                            height: 40px;
                            border: 3px solid #fff;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }

        .size-input-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 10px;
            width: 300px;

            input {
                margin: 10px 0;
            }
        }
        

        .clear-canvas {
            border: 1px solid black;
            padding: 7px;
            margin-top: 10px;
        }

    }

}