@import 'partials/base';
@import 'partials/global';
@import 'partials/components';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@keyframes menu-appear {
    0% {
        width: 40px;
        // transform:none;
    }
    50% {
        width:0;
    }
    100% {
        width: 40px;
        // transform: translateY(-15px);
    }
}

html,
body {
    /*overflow: hidden;*/
    // background: $mint;
    background: $white;
    font-family: $font;
    animation: fade-in .8s ease-in;

    @media(min-width:720px){
        width: 400px;
        margin: 0 auto;
    }


}

.kee {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    height: 100%;
    // margin: 15px 5% 0;
    // width:100%;
    &.menu-open {
        opacity: 0.1;
    }
    .save {
        @include square(53px);
        @extend %icon;
        background-image: url('../imgs/Save state 1.svg');
        &:active {
            background-image: url('../imgs/Save state 2.svg');
        }
        margin: -40px 3% 0 auto;

    }
    .container {
        position: relative;
        width: 100%;
        margin: 0 auto; // height: 420px;
        .saved-response {
            opacity:0;
            height: 0;
            position: absolute;
            background: transparent;
            width: 100%;
            display: flex;
            justify-content: center;
            align-content: center;
            z-index: 99999999;
            transition: all .5s;
            &.response{
                position: absolute;
                opacity:1;
                padding: 100px;
                height: 100%;
                width: 100%;
                background: white;
                z-index: 99999999;
                transition: all .5s;
            }

            p {
                font-size: p;
            }
        }
        canvas {
            position: absolute;
        }

        #sketchpad {
            top: 3%;
            // left: 2.5%;
            z-index: 999;
            background: #fff;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
            touch-action:none

        }

    }

    .inputs {
        display: flex;
        flex-direction: column;
        align-items: center;

        #displayBox {
            padding: 10px 14px 10px 35px;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width:100%;
            background: #fff;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
            .not-mySize {
                z-index: 1;
                display:flex;
                justify-content: space-between;
                align-items: center;
                opacity: 1;
                transition: all .3s;
                width: 60%;
                &.closed {
                    opacity: 0;
                }
                .written-note-container {
                    display: none;
                }
                .color-display-save {
                    display:flex;
                    align-items: center;
                    margin: 0 15px;
                    .save-color {
                        margin: 0 15px;
                        width: 35px;
                        height: 35px;
                        background-image: url('../imgs/Add color state 1.svg');
                        @extend %icon;
                        border: none;
                        position: relative;

                        &:active {
                            background-image: url('../imgs/Add color state 2.svg');
                        }
                    }

                    .color-display {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%
                    }
                }
                .divider {
                    width: 2px;
                    height: 40px;
                    background-color: $dark-gray;
                    margin: 0 30px;
                }

                .undo {
                    @extend %icon;
                    @include square(50px);
                    background-image: url('../imgs/Undo state 1.svg');
                    border: none;
                    position: relative;
                    &:active {
                        background-image: url('../imgs/Undo state 2.svg');
                    }

                }
            }
            .input-container-size {
                z-index: 2;
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    margin: 0;
                    font-size: 18px;
                    width: 50px;

                }
                .my-size {
                    margin: 10px 45px;
                    width: 0%;
                    opacity:0;
                    transition: all .3s;
                    position: absolute;
                    top: 37%;
                    // left: 50px;
                    &.open {
                        // animation: reveal .3s ease-in;
                        // left: 20%;
                        width: 225px;
                        opacity: 1;
                    }
                }
            }
        }


        .slider-wrap{
            display:flex;
            flex-direction: column;
            align-items: center;
            .which-container-wrapper {
                display: flex;
                justify-content: center;
                margin: 10px 10px 16px;
                .which-container {
                    padding: 15px 15px 7px;
                    display: flex;
                    align-items: center;
                    width: 150px;
                    justify-content: center;
                    color:$dark-gray;
                    border-bottom: 3px solid $dark-gray;

                    p {
                        font-size: $p;
                    }

                    &.this-container {
                        color: $black;
                        border-bottom: 3px $black solid
                    }
                }
            }

            .slider{
                width: 300px;
                // height: 175px;
                overflow-x: hidden;
                overflow-y: hidden;

                .change-saved-colors-container {
                    display: flex;
                    align-content: center;
                    width: 200%;
                    transform: translateX(0) ;
                    transition: transform .5s ease-out ;
                    &.animate {
                        transform: translateX(-50%) ;

                    }
                    .change-colors-container {
                        // width: 300px;
                        // height: 175px;
                        .input-container {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding-bottom: 10px;
                            .icon {
                                width: 36px;
                                height: 30px;
                                @extend %icon;

                                &.color-icon {
                                    background-image: url('../imgs/Color Icon.svg');
                                }
                                &.saturation-icon {
                                    background-image: url('../imgs/Saturation Icon.svg');
                                }
                                &.shade-icon {
                                    background-image: url('../imgs/Light Icon.svg');
                                }

                            }
                            p {
                                margin: 0 7px;
                            }
                            input {
                                margin: 10px 0;
                            }
                        }

                    }
                    .saved-colors-container {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-content: flex-start;
                        // height: 175px;
                        p {
                            margin: 20px 0;
                        }
                        .saved-color-display,
                        .gradient-color-display{
                            width: 40px;
                            height: 40px;
                            margin: 10px;
                            border: 3px solid #fff;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }

    }

}