        <script type="text/javascript" src="/scripts/script.js"></script>
        <!--<script type="text/javascript" src="/js/main.js"></script> -->
        <script>
        if ("serviceWorker" in navigator) {
          navigator.serviceWorker
            .register("sw.js")
            .then(console.log)
            .catch(console.error);
        } else {
          console.log('no');
        }
      </script>
    </body>

</html>