<!DOCTYPE html>
<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta charset="utf-8">
            <link rel="stylesheet" type="text/css" href="/css/style.css">
            <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700" rel="stylesheet">
            <link rel="manifest" href="/manifest.json">
            <title>Kee</title>

    </head>

    <body id="body" onload="init();">

      <nav id="nav" class="<%= savedBtn ? 'draw' : '' %>">
          <div id="menu" class="menu">
              <span id="menu-line-1" class="menu-line"></span>
              <span id="menu-line-2" class="menu-line"></span>
              <div id="menu-list" class="menu-list">
                <li class="menu-items"><a href="/">Draw</a></li>
                <li class="menu-items"><a href="/saved">Your Notes</a></li>
                <li class="menu-items"><a href="/history">Avnoe, A History</a></li>
                <li class="menu-items"><a href="/contact">Contact</a></li>
                <li class="menu-items"><a href="/login">Sign in</a></li>
                <li class="menu-items"><a href="/register">Create an Account</a></li>
                <li class="menu-items"><a href="/logout">Logout</a></li>
              </div>
          </div>

          <% 
          // kees.forEach(function(k){ 
            if(savedBtn){ 

              %>
              <div id="saveBtn" class="save"></div>
          <% 
          }  
          // }); 
          %>

      </nav>
