.canvases {
    position: relative;
}
canvas {
    position: absolute;
}

#sketchpad {
    top: 0;
    z-index: 99999;
}

#face {
    top: 0;
    z-index: 99;
}
.inputs {
    position: absolute;
    bottom: 30%;
}

.kee {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (max-width: 720px ){
	body {
		width:100%;
	}

	#sketchpad {
		width:100%;
	}
	#face {
		width:100%;
	}
}