<%- include('partials/header', {user: user}) %>
<div class="page">
                <div class="message">
                    <h1>Hello!</h1>
                    <p>Thank you for visiting our side project.
                    <p>We would love to hear your thoughts on it, since we have little idea of what we’re doing.</p>
                    <p>We’re starting as a mobile-first website, because that’s what our developer knows how to do. And then chances are we’ll make it an app after he gets bored with this. </p>
                    <p>The developer has nothing to comment about; neither on the design nor the designer’s abilities. </p>
                    <br>
                    <p>- Dylan & Michiko</p>
                </div>


                <button><a href="mailto:dylanjconnor4@gmail.com">Please Email Us</a></button>
        </div>

<% include partials/footer %>