<%- include('partials/header',{user: user}) %>
<div class="page">
        <div class="message">
            <p>Currently under construction :)</p>
        </div>

</div>

<% include partials/footer %>