
<%- include('partials/header',{savedBtn:true}) %>

<div class="kee">

  
  <div id="container" class="container">
    <div id="saved-response" class="saved-response">
      <p>Saved!</p>
    </div>
    <canvas id="sketchpad"></canvas>
  </div>

  <div class="inputs">
    <div id="displayBox">
      <div id="sizeInputContainer" class="input-container-size">
        <p id="sizeValue"></p>
        <input type="range" min="1" max="25" value="12" step="1" class="my-size" id="mySize">
      </div>

      <div id="notMySize" class="not-mySize">

        <div id="writtenNoteIcon" class="written-note-icon">
          <div id="writtenNoteContainer" class="written-note-container">
            <textarea id="writtenNote" class="written-note" name="description"
              placeholder="How are you feeling?"></textarea>
            <div id="close-note"></div>
          </div>
        </div>

        <div class="color-display-save">
          <div id="colorDisplay" class="color-display"></div>
          <div id="saveColor" class="save-color"></div>
        </div>

        <div id="undo" class="undo" value="Undo" onclick="cUndo();"></div>
      </div>
    </div>


    <div class="slider-wrap">
      <div class="which-container-wrapper">
        <div id="changeContainer" class="which-container this-container">
          <p>Color scales</p>
        </div>
        <div id="savedContainer" class="which-container">
          <p>Saved swatches</p>
        </div>
      </div>

      <div class="slider" id="slider">
        <div class="change-saved-colors-container" id="changeSavedColorsContainer">
          <!-- Item one -->
          <div class="change-colors-container" id="changeColorsContainer">
            <div class="input-container">
              <div class="color-icon icon"></div>
              <input type="range" min="0" max="360" value="0" id="myColor">
            </div>
            <div class="input-container">
              <div class="saturation-icon icon"></div>
              <input type="range" min="0" max="100" value="50" id="mySaturation">
            </div>
            <div class="input-container">
              <div class="shade-icon icon"></div>
              <input type="range" min="0" max="100" value="50" id="myLight">
            </div>
          </div>
          <!-- item two -->
          <div class="saved-colors-container" id="savedColorsContainer">
            <!-- <div id="savedColorDisplay" class="saved-color-display"></div> -->
            <div class="saved-color-display">
              <div class="saved-color"></div>
            </div>
            <div class="saved-color-display">
              <div class="saved-color"></div>
            </div>
            <div class="saved-color-display">
              <div class="saved-color"></div>
            </div>
            <div class="saved-color-display">
              <div class="saved-color"></div>
            </div>
            <div class="saved-color-display">
              <div class="saved-color"></div>
            </div>
            <div id="rainy-season" class="gradient-color-display "></div>
            <div id="summertime" class="gradient-color-display "></div>
            <div id="mint-tea" class="gradient-color-display "></div>
            <div id="sunset" class="gradient-color-display "></div>
            <div id="mood" class="saved-color-display"></div>
          </div>
        </div>
      </div>
    </div>




    <div class="clear-canvas" value="Clear Sketchpad" onclick="clearCanvas(canvas,ctx);">
      Erase
    </div>



    <!-- <button class="scale">Scale Down</button> -->
  </div>
</div>


<% include partials/footer %>