<style>

  #splash {
    background-color: #FFF;
    position: fixed;
    top: 0;
    left:0;
    height: 100vh;
    width: 100%;
    z-index: 10;
    transition-property: top;
    transition-duration: 300ms;
    transition-delay: 1000ms;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  }

  #eyes {
    background-image: url('../imgs/Blinking-Avnoe-01.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
  }

  #splash.animate {
    top: -100vh;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    document.querySelector('#splash').addEventListener('transitionend', (event) => {
      event.target.remove();
    });
    requestAnimationFrame(() => {
      document.querySelector('#splash').classList.add('animate');
    });
  });
</script>

<div id="splash"><div id="eyes"></div></div>
<%- include('partials/header',{savedBtn:false}) %>

<div class="login-form">
    <h1>Hi again,</h1>

    <form action="/login" method="POST">
        <h3>Username</h3>
        <input type="text" name="username" placeholder="username">
        <h3>Password</h3>
        <input type="password" name="password" placeholder="password">
        <button>Sign In</button>
    </form>
    
    <p>Don’t have an account yet? <a href="/register">Join us!</a></p>
</div>


<% include partials/footer %>