


<%- include('partials/header',{savedBtn:false}) %>
<div id="splash"><div id="eyes"></div></div>
<div class="login-form">
    <h1>Hi again,</h1>

    <form action="/login" method="POST">
        <h3>Username</h3>
        <input type="text" name="username" placeholder="username">
        <h3>Password</h3>
        <input type="password" name="password" placeholder="password">
        <button>Sign In</button>
    </form>
    
    <p>Don’t have an account yet? <a href="/register">Join us!</a></p>
</div>

<!-- <div id="btnAdd">add to homepage pls</div> -->
<script>

var deferredPrompt;
console.log(deferredPrompt);
window.addEventListener('beforeinstallprompt', function(event) {
  // Stash the event so it can be triggered later.
  console.log(e);
  e.preventDefault();
  deferredPrompt = e;
  // e.prompt();
  // showInstallPromotion();
  // ...
  // 
});



// function showInstallPromotion(){
//   deferredPrompt.prompt()
// };
// do we auto show prompt or have user decide?

// btnAdd.addEventListener('click', function(e) {
//   // hide our user interface that shows our A2HS button
//   // btnAdd.style.display = 'none';
//   // Show the prompt
//   deferredPrompt.prompt();
//   // Wait for the user to respond to the prompt
//   deferredPrompt.userChoice
//     .then(function(choiceResult)  {
//       if (choiceResult.outcome === 'accepted') {
//         console.log('User accepted the A2HS prompt');
//       } else {
//         console.log('User dismissed the A2HS prompt');
//       }
//       deferredPrompt = null;
//     });
// });
</script>
<% include partials/footer %>