


<%- include('partials/header',{savedBtn:false}) %>
<div id="splash"><div id="eyes"></div></div>
<section class="login-form">


    <div class="form-wrapper">
      <h1 id="login-show-btn" class="form-title">Sign In</h1>
      <form id="login" action="/login" method="POST">
          <label for="username">Username</label>
          <input id="username" type="text" name="username">
          <label for="password">Password</label>
          <input id="password" type="password" name="password">
          <button>Sign In</button>
      </form>
      <p><a href="/register">New Account</a></p>
    </div>
</section>


<% include partials/footer %>