<%- include('partials/header',{savedBtn:false}) %>

<section class="login-form">
 <div class="form-wrapper">
      <h1 id="login-show-btn" class="form-title">New Account</h1>
      <form id="login" action="/register" method="POST">
          <label for="username">Username</label>
          <input id="username" type="text" name="username">
          <label for="password">Password</label>
          <input id="password" type="password" name="password">
          <button>Create</button>
      </form>
    <p><a href="/login">Sign in</a> </p>
  </div>
</section>
<% include partials/footer %>