<% include partials/header %>

<div class="saved">

<div class="kee-container">
    <div class="notes">
        <img class="single-note" src="<%= kee.image%>">
    </div>


<p class="date" ><%= kee.created.toDateString() %></p>
</div>
</div>

<% include partials/footer %>