@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-15px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fade-out-left {
  from {
    opacity: 1;
    transform: translateX(0); }
  to {
    opacity: 0;
    transform: translateX(-15px); } }

@keyframes reveal {
  from {
    opacity: 0;
    width: 0; }
  to {
    opacity: 1;
    width: 55%; } }

.kee .save, .kee .inputs #displayBox .not-mySize .color-display-save .save-color, .kee .inputs #displayBox .not-mySize .undo, .kee .inputs .slider-wrap .slider .change-saved-colors-container .change-colors-container .input-container .icon {
  background-repeat: no-repeat;
  background-position: center; }

h1 {
  color: #000;
  font-size: h1; }

h3 {
  font-size: h3; }

/*slider*/
input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 75%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */ }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
  margin-top: -7px; }

input[type=range]::-webkit-slider-runnable-track {
  width: 80%;
  height: .5px;
  cursor: pointer;
  background: #000;
  border: .5px solid #000; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #000; }

.saved {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  height: 100%; }
  .saved.menu-open {
    opacity: 0.1; }
  .saved .kee-container {
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 3%; }
    .saved .kee-container .date {
      font-size: 16px;
      padding: 20px 0 5px; }
    .saved .kee-container .notes {
      display: flex;
      flex-wrap: wrap;
      height: auto;
      width: 100%;
      margin: 5px; }
      .saved .kee-container .notes img {
        height: 100%;
        width: 30%;
        background: #fff;
        margin: 5px; }
      .saved .kee-container .notes #mySavedImg5c8ea4bc1f1ab8000434e9b0,
      .saved .kee-container .notes #mySavedImg5c97d55383b8f4000495c1b5 {
        display: none; }
  .saved .container {
    position: relative;
    width: 100%;
    margin: 0 auto; }
    .saved .container canvas {
      position: absolute; }
    .saved .container #sketchpadScaled {
      background: #fff; }

.page {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  height: 100%; }
  .page.menu-open {
    opacity: 0.1; }
  .page .message {
    display: flex;
    flex-direction: column;
    padding: 50px 35px; }
    .page .message h1 {
      padding-bottom: 50px; }
    .page .message p {
      padding-bottom: 25px; }
  .page button {
    background-color: #000;
    width: 150px;
    height: 35px;
    border-radius: 21px;
    margin: 0 auto; }
    .page button a {
      color: #fff;
      font-size: p;
      font-weight: lighter;
      text-decoration: none;
      font-weight: 300; }

nav {
  margin: 20px 7% 0; }
  nav .menu {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly; }
    nav .menu .menu-list {
      position: absolute;
      width: 0;
      opacity: 0;
      padding: 50px 100px;
      transition: all .5s; }
      nav .menu .menu-list .menu-items {
        list-style-type: none;
        font-size: h3;
        padding-bottom: 21px;
        font-weight: bold;
        line-height: 30px;
        display: none; }
        nav .menu .menu-list .menu-items a {
          color: #000;
          text-decoration: none; }
      nav .menu .menu-list.menu-list-open {
        animation: fade-in-right ease .5s forwards;
        z-index: 999999999999999;
        width: 100%;
        top: 0px;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.9); }
        nav .menu .menu-list.menu-list-open .menu-items {
          display: block; }
      nav .menu .menu-list.menu-list-close {
        animation: fade-out-left ease .5s forwards;
        z-index: 0;
        width: 0%;
        top: 0px;
        bottom: 500px;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0); }
    nav .menu .menu-line {
      width: 35px;
      height: 2px;
      margin: 5px 0;
      background-color: #000;
      color: #000;
      transform: none;
      transition: all .3s; }
      nav .menu .menu-line.line-1-x {
        transform: rotate(45deg) translate(3px, 4px); }
      nav .menu .menu-line.line-2-x {
        transform: rotate(-45deg) translate(4px, -7px); }

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  padding: 25px 0; }
  .login-form h1 {
    font-weight: lighter;
    padding-bottom: 25px; }
  .login-form form {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .login-form form h3 {
      padding-bottom: 10px;
      font-weight: bold; }
    .login-form form input {
      margin-bottom: 25px;
      background: #B4B4B4;
      padding: 7px;
      border: none; }
      .login-form form input::placeholder {
        color: #ffffff;
        font-size: p;
        font-weight: 100; }
    .login-form form button {
      background: black;
      color: white;
      padding: 7px;
      border-radius: 20px;
      width: 50%;
      margin: 0 auto 20px;
      font-size: 12px;
      font-weight: 100; }
  .login-form p {
    text-align: center; }
    .login-form p a {
      color: black; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@keyframes menu-appear {
  0% {
    width: 40px; }
  50% {
    width: 0; }
  100% {
    width: 40px; } }

html,
body {
  /*overflow: hidden;*/
  background: #F5F5F5;
  font-family: "Noto Sans KR", sans-serif;
  animation: fade-in .8s ease-in; }
  @media (min-width: 720px) {
    html,
    body {
      width: 400px;
      margin: 0 auto; } }

.kee {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  height: 100%; }
  .kee.menu-open {
    opacity: 0.1; }
  .kee .save {
    width: 53px;
    height: 53px;
    background-image: url("../imgs/Save state 1.svg");
    margin: -40px 3% 0 auto; }
    .kee .save:active {
      background-image: url("../imgs/Save state 2.svg"); }
  .kee .container {
    position: relative;
    width: 100%;
    margin: 0 auto; }
    .kee .container .saved-response {
      opacity: 0;
      height: 0;
      position: absolute;
      background: transparent;
      width: 100%;
      display: flex;
      justify-content: center;
      align-content: center;
      z-index: 99999999;
      transition: all .5s; }
      .kee .container .saved-response.response {
        position: absolute;
        opacity: 1;
        padding: 100px;
        height: 100%;
        width: 100%;
        background: white;
        z-index: 99999999;
        transition: all .5s; }
      .kee .container .saved-response p {
        font-size: p; }
    .kee .container canvas {
      position: absolute; }
    .kee .container #sketchpad {
      top: 3%;
      z-index: 999;
      background: #fff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
      touch-action: none; }
  .kee .inputs {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .kee .inputs #displayBox {
      padding: 10px 14px 10px 35px;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      background: #fff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04); }
      .kee .inputs #displayBox .not-mySize {
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        opacity: 1;
        transition: all .3s;
        width: 60%; }
        .kee .inputs #displayBox .not-mySize.closed {
          opacity: 0; }
        .kee .inputs #displayBox .not-mySize .written-note-container {
          display: none; }
        .kee .inputs #displayBox .not-mySize .color-display-save {
          display: flex;
          align-items: center;
          margin: 0 15px; }
          .kee .inputs #displayBox .not-mySize .color-display-save .save-color {
            margin: 0 15px;
            width: 35px;
            height: 35px;
            background-image: url("../imgs/Add color state 1.svg");
            border: none;
            position: relative; }
            .kee .inputs #displayBox .not-mySize .color-display-save .save-color:active {
              background-image: url("../imgs/Add color state 2.svg"); }
          .kee .inputs #displayBox .not-mySize .color-display-save .color-display {
            width: 40px;
            height: 40px;
            border-radius: 50%; }
        .kee .inputs #displayBox .not-mySize .divider {
          width: 2px;
          height: 40px;
          background-color: #B4B4B4;
          margin: 0 30px; }
        .kee .inputs #displayBox .not-mySize .undo {
          width: 50px;
          height: 50px;
          background-image: url("../imgs/Undo state 1.svg");
          border: none;
          position: relative; }
          .kee .inputs #displayBox .not-mySize .undo:active {
            background-image: url("../imgs/Undo state 2.svg"); }
      .kee .inputs #displayBox .input-container-size {
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .kee .inputs #displayBox .input-container-size p {
          margin: 0;
          font-size: 18px;
          width: 50px; }
        .kee .inputs #displayBox .input-container-size .my-size {
          margin: 10px 45px;
          width: 0%;
          opacity: 0;
          transition: all .3s;
          position: absolute;
          top: 37%; }
          .kee .inputs #displayBox .input-container-size .my-size.open {
            width: 225px;
            opacity: 1; }
    .kee .inputs .slider-wrap {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .kee .inputs .slider-wrap .which-container-wrapper {
        display: flex;
        justify-content: center;
        margin: 10px 10px 16px; }
        .kee .inputs .slider-wrap .which-container-wrapper .which-container {
          padding: 15px 15px 7px;
          display: flex;
          align-items: center;
          width: 150px;
          justify-content: center;
          color: #B4B4B4;
          border-bottom: 3px solid #B4B4B4; }
          .kee .inputs .slider-wrap .which-container-wrapper .which-container p {
            font-size: 12px; }
          .kee .inputs .slider-wrap .which-container-wrapper .which-container.this-container {
            color: #000000;
            border-bottom: 3px #000000 solid; }
      .kee .inputs .slider-wrap .slider {
        width: 300px;
        overflow-x: hidden;
        overflow-y: hidden; }
        .kee .inputs .slider-wrap .slider .change-saved-colors-container {
          display: flex;
          align-content: center;
          width: 200%;
          transform: translateX(0);
          transition: transform .5s ease-out; }
          .kee .inputs .slider-wrap .slider .change-saved-colors-container.animate {
            transform: translateX(-50%); }
          .kee .inputs .slider-wrap .slider .change-saved-colors-container .change-colors-container .input-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 10px; }
            .kee .inputs .slider-wrap .slider .change-saved-colors-container .change-colors-container .input-container .icon {
              width: 36px;
              height: 30px; }
              .kee .inputs .slider-wrap .slider .change-saved-colors-container .change-colors-container .input-container .icon.color-icon {
                background-image: url("../imgs/Color Icon.svg"); }
              .kee .inputs .slider-wrap .slider .change-saved-colors-container .change-colors-container .input-container .icon.saturation-icon {
                background-image: url("../imgs/Saturation Icon.svg"); }
              .kee .inputs .slider-wrap .slider .change-saved-colors-container .change-colors-container .input-container .icon.shade-icon {
                background-image: url("../imgs/Light Icon.svg"); }
            .kee .inputs .slider-wrap .slider .change-saved-colors-container .change-colors-container .input-container p {
              margin: 0 7px; }
            .kee .inputs .slider-wrap .slider .change-saved-colors-container .change-colors-container .input-container input {
              margin: 10px 0; }
          .kee .inputs .slider-wrap .slider .change-saved-colors-container .saved-colors-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: flex-start; }
            .kee .inputs .slider-wrap .slider .change-saved-colors-container .saved-colors-container p {
              margin: 20px 0; }
            .kee .inputs .slider-wrap .slider .change-saved-colors-container .saved-colors-container .saved-color-display,
            .kee .inputs .slider-wrap .slider .change-saved-colors-container .saved-colors-container .gradient-color-display {
              width: 40px;
              height: 40px;
              margin: 10px;
              border: 3px solid #fff;
              border-radius: 50%; }
