@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-15px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fade-out-left {
  from {
    opacity: 1;
    transform: translateX(0); }
  to {
    opacity: 0;
    transform: translateX(-15px); } }

@keyframes reveal {
  from {
    opacity: 0;
    width: 0; }
  to {
    opacity: 1;
    width: 55%; } }

@keyframes menu-appear {
  0% {
    width: 40px; }
  50% {
    width: 0; }
  100% {
    width: 40px; } }

@keyframes fixed-nav {
  from {
    transform: translateY(-50px); }
  to {
    transform: translateY(0px); } }

nav .save, .kee .inputs #displayBox .not-mySize .written-note-icon, .kee .inputs #displayBox .not-mySize .written-note-icon .written-note-container #close-note, .kee .inputs #displayBox .not-mySize .color-display-save .save-color, .kee .inputs #displayBox .not-mySize .undo, .kee .inputs .slider-wrap .slider .change-saved-colors-container .change-colors-container .input-container .icon {
  background-repeat: no-repeat;
  background-position: center; }

h1 {
  color: #000;
  font-size: h1; }

h3 {
  font-size: h3; }

/*slider*/
input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 75%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */ }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
  margin-top: -7px; }

input[type=range]::-webkit-slider-runnable-track {
  width: 80%;
  height: .5px;
  cursor: pointer;
  background: #000;
  border: .5px solid #000; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #000; }

.saved {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  height: 100%; }
  .saved.menu-open {
    opacity: 0.1; }
  .saved .notes-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 3%; }
    .saved .notes-container .date, .saved .notes-container .written-note {
      font-size: 16px;
      padding: 20px 5px 5px; }
    .saved .notes-container .notes {
      display: flex;
      flex-wrap: wrap;
      height: auto;
      width: 100%; }
      .saved .notes-container .notes .single-note {
        height: 100%;
        width: 100%;
        background: #fff; }
      .saved .notes-container .notes a {
        width: 30%;
        margin: 5px; }
        .saved .notes-container .notes a img {
          height: auto;
          width: 100%;
          background: #fff;
          opacity: 0;
          transform: translateY(10px);
          transition: .5s ease-in; }
          .saved .notes-container .notes a img.revealed {
            transform: translateY(0);
            opacity: 1; }
      .saved .notes-container .notes #mySavedImg5c8ea4bc1f1ab8000434e9b0,
      .saved .notes-container .notes #mySavedImg5c97d55383b8f4000495c1b5 {
        display: none; }
  .saved .container {
    position: relative;
    width: 100%;
    margin: 0 auto; }
    .saved .container canvas {
      position: absolute; }
    .saved .container #sketchpadScaled {
      background: #fff; }

.page {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  height: 100%; }
  .page.menu-open {
    opacity: 0.1; }
  .page .message {
    display: flex;
    flex-direction: column;
    padding: 50px 35px; }
    .page .message h1 {
      padding-bottom: 50px; }
    .page .message p {
      padding-bottom: 25px; }
  .page button {
    background-color: #000;
    width: 150px;
    height: 35px;
    border-radius: 21px;
    margin: 0 auto; }
    .page button a {
      color: #fff;
      font-size: p;
      font-weight: lighter;
      text-decoration: none;
      font-weight: 300; }

nav {
  padding: 10px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: .3s; }
  nav.fixed {
    animation: fixed-nav .3s linear .3s forwards;
    background: #F5F5F5;
    z-index: 99; }
  nav .menu {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly; }
    nav .menu .menu-list {
      position: absolute;
      width: 100%;
      opacity: 0;
      z-index: -9;
      padding-top: 50px;
      padding-bottom: 50px;
      transform: translateX(-50px);
      visibility: hidden;
      top: 0px;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(255, 255, 255, 0);
      transition: all .5s ease;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      nav .menu .menu-list .menu-items {
        list-style-type: none;
        font-size: h3;
        padding-bottom: 21px;
        font-weight: bold;
        line-height: 30px;
        opacity: 1;
        width: 50%;
        margin: 0 auto; }
        nav .menu .menu-list .menu-items a {
          color: #000;
          text-decoration: none; }
      nav .menu .menu-list.menu-list-open {
        visibility: visible;
        opacity: 1;
        z-index: 4;
        transform: translateX(0);
        background-color: rgba(255, 255, 255, 0.99); }
        nav .menu .menu-list.menu-list-open .menu-items {
          opacity: 1; }
    nav .menu .menu-line {
      width: 30px;
      height: 2px;
      left: 8%;
      margin: 5px 0;
      background-color: #000;
      color: #000;
      display: block;
      transform: none;
      transition: all 0.3s; }
      nav .menu .menu-line#menu-line-1 {
        top: 25px; }
      nav .menu .menu-line#menu-line-2 {
        top: 35px; }
      nav .menu .menu-line.line-1-x {
        transform: rotate(45deg) translate(3px, 4px);
        z-index: 5; }
      nav .menu .menu-line.line-2-x {
        z-index: 5;
        transform: rotate(-45deg) translate(4px, -6px); }
  nav .save {
    width: 53px;
    height: 53px;
    background-image: url("../imgs/Save state 1.svg"); }
    nav .save:active {
      background-image: url("../imgs/Save state 2.svg"); }

.login-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  margin: 0 auto;
  padding: 125px 0 0; }
  .login-form .logo h1 {
    padding-bottom: 10px;
    font-size: 64px;
    font-weight: 500;
    letter-spacing: 13px;
    opacity: 0;
    animation: fade-in .5s ease 1.5s forwards; }
  .login-form .logo .logo-full {
    position: relative; }
    .login-form .logo .logo-full span.logo-bit {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 15px;
      position: absolute;
      opacity: 0;
      animation: fade-in .3s ease forwards; }
      .login-form .logo .logo-full span.logo-bit#isual {
        background-image: url("../imgs/isual.svg");
        right: 167px;
        height: 130px;
        animation-delay: 1.7s; }
      .login-form .logo .logo-full span.logo-bit#ote {
        background-image: url("../imgs/ote.svg");
        right: 120px;
        height: 80px;
        animation-delay: 1.8s; }
      .login-form .logo .logo-full span.logo-bit#f {
        background-image: url("../imgs/f.svg");
        right: 73px;
        height: 10px;
        animation-delay: 1.9s; }
      .login-form .logo .logo-full span.logo-bit#motion {
        background-image: url("../imgs/motion.svg");
        right: 23px;
        height: 170px;
        animation-delay: 2s; }
  .login-form .line {
    width: 1px;
    height: 20px;
    background: #000000;
    margin: 0 5%;
    opacity: 0;
    animation: fade-in .3s ease 2.1s forwards; }
  .login-form .forms {
    position: relative;
    width: 45%;
    opacity: 0;
    animation: fade-in .3s ease 2.1s forwards; }
    .login-form .forms .form-title {
      margin-top: 60px;
      transition: all 0.3s ease;
      cursor: pointer; }
    .login-form .forms form {
      padding: 0px;
      visibility: hidden;
      opacity: 0;
      overflow: hidden;
      width: 0%;
      height: 0;
      display: flex;
      flex-direction: column;
      transition: all .3s ease; }
      .login-form .forms form.open {
        visibility: visible;
        opacity: 1;
        width: 100%;
        padding: 30px 0; }
      .login-form .forms form h3 {
        padding-bottom: 10px; }
      .login-form .forms form input {
        margin-bottom: 25px;
        background-color: #B4B4B4;
        padding: 7px;
        border: none; }
        .login-form .forms form input::placeholder {
          color: #ffffff;
          font-size: p;
          font-weight: 100; }
        .login-form .forms form input:focus {
          background: #F5F5F5; }
          .login-form .forms form input:focus::placeholder {
            color: #000000; }
      .login-form .forms form button {
        background: #000000;
        cursor: pointer;
        border: none;
        color: white;
        padding: 7px;
        border-radius: 20px;
        width: 50%;
        margin: 0 auto 20px;
        font-size: 12px;
        font-weight: 100; }
  .login-form p {
    text-align: center; }
    .login-form p a {
      color: #000000; }

#splash {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 10;
  transition-property: top;
  transition-duration: 300ms;
  transition-delay: 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1); }

#eyes {
  background-image: url("../imgs/Blinking-Avnoe-01.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 50%;
  margin: 0 auto;
  height: 100vh; }

#splash.animate {
  top: -100vh; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  /*overflow: hidden;*/
  background: #F5F5F5;
  font-family: "Arimo", sans-serif;
  animation: fade-in 0.8s ease-in; }

.kee {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  height: 100%; }
  .kee.menu-open {
    opacity: 0.1; }
  .kee .container {
    position: relative;
    width: 100%;
    margin: 0 auto; }
    .kee .container .saved-response {
      opacity: 0;
      height: 0;
      position: absolute;
      background: transparent;
      width: 100%;
      display: flex;
      justify-content: center;
      align-content: center;
      z-index: 99999999;
      transition: all 0.5s; }
      .kee .container .saved-response.response {
        position: absolute;
        opacity: 1;
        padding: 100px;
        height: 100%;
        width: 100%;
        background: white;
        z-index: 99999999;
        transition: all 0.5s; }
      .kee .container .saved-response p {
        font-size: p; }
    .kee .container canvas {
      position: absolute; }
    .kee .container #sketchpad {
      top: 3%;
      z-index: 1;
      background: #fff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
      touch-action: none; }
  .kee .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; }
    .kee .inputs #displayBox {
      padding: 10px 14px 10px 35px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      background: #fff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04); }
      .kee .inputs #displayBox .not-mySize {
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        opacity: 1;
        transition: all 0.3s;
        width: 60%; }
        .kee .inputs #displayBox .not-mySize.closed {
          opacity: 0; }
        .kee .inputs #displayBox .not-mySize .written-note-icon {
          display: none;
          background-image: url("../imgs/w-note.svg");
          width: 30px;
          height: 24px; }
          .kee .inputs #displayBox .not-mySize .written-note-icon .written-note-container {
            display: none; }
            .kee .inputs #displayBox .not-mySize .written-note-icon .written-note-container.open {
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 50%;
              z-index: 4;
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
              background: white;
              padding: 20px; }
            .kee .inputs #displayBox .not-mySize .written-note-icon .written-note-container .written-note {
              width: 100%;
              height: 50%;
              padding: 10px; }
            .kee .inputs #displayBox .not-mySize .written-note-icon .written-note-container #close-note {
              background-image: url("../imgs/x.svg");
              width: 20px;
              height: 20px;
              margin: 0 0 0 auto; }
        .kee .inputs #displayBox .not-mySize .color-display-save {
          display: flex;
          align-items: center;
          margin: 0 15px; }
          .kee .inputs #displayBox .not-mySize .color-display-save .save-color {
            width: 35px;
            height: 35px;
            background-image: url("../imgs/Add color state 1.svg");
            border: none;
            position: relative; }
            .kee .inputs #displayBox .not-mySize .color-display-save .save-color.delete {
              transform: rotate(45deg); }
            .kee .inputs #displayBox .not-mySize .color-display-save .save-color:active {
              background-image: url("../imgs/Add color state 2.svg"); }
          .kee .inputs #displayBox .not-mySize .color-display-save .color-display {
            width: 40px;
            height: 40px;
            border-radius: 50%; }
        .kee .inputs #displayBox .not-mySize .divider {
          width: 2px;
          height: 40px;
          background-color: #B4B4B4;
          margin: 0 30px; }
        .kee .inputs #displayBox .not-mySize .undo {
          width: 50px;
          height: 50px;
          background-image: url("../imgs/Undo state 1.svg");
          border: none;
          position: relative; }
          .kee .inputs #displayBox .not-mySize .undo:active {
            background-image: url("../imgs/Undo state 2.svg"); }
      .kee .inputs #displayBox .input-container-size {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative; }
        .kee .inputs #displayBox .input-container-size p {
          margin: 0;
          font-size: 20px;
          width: 50px; }
        .kee .inputs #displayBox .input-container-size .my-size {
          margin: 10px 45px;
          width: 0%;
          opacity: 0;
          transition: all 0.3s;
          position: absolute;
          top: 37%; }
          .kee .inputs #displayBox .input-container-size .my-size.open {
            z-index: 2;
            width: 225px;
            opacity: 1; }
    .kee .inputs .slider-wrap {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .kee .inputs .slider-wrap .which-container-wrapper {
        display: flex;
        justify-content: center;
        margin: 10px 10px 16px; }
        .kee .inputs .slider-wrap .which-container-wrapper .which-container {
          padding: 15px 15px 7px;
          display: flex;
          align-items: center;
          width: 150px;
          justify-content: center;
          color: #B4B4B4;
          border-bottom: 3px solid #B4B4B4; }
          .kee .inputs .slider-wrap .which-container-wrapper .which-container p {
            font-size: 12px; }
          .kee .inputs .slider-wrap .which-container-wrapper .which-container.this-container {
            color: #000000;
            border-bottom: 3px #000000 solid; }
      .kee .inputs .slider-wrap .slider {
        width: 300px;
        overflow-x: hidden;
        overflow-y: hidden; }
        .kee .inputs .slider-wrap .slider .change-saved-colors-container {
          display: flex;
          align-content: center;
          width: 200%;
          transform: translateX(0);
          transition: transform 0.5s ease-out; }
          .kee .inputs .slider-wrap .slider .change-saved-colors-container.animate {
            transform: translateX(-50%); }
          .kee .inputs .slider-wrap .slider .change-saved-colors-container .change-colors-container .input-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 10px; }
            .kee .inputs .slider-wrap .slider .change-saved-colors-container .change-colors-container .input-container .icon {
              width: 36px;
              height: 30px; }
              .kee .inputs .slider-wrap .slider .change-saved-colors-container .change-colors-container .input-container .icon.color-icon {
                background-image: url("../imgs/Color Icon.svg"); }
              .kee .inputs .slider-wrap .slider .change-saved-colors-container .change-colors-container .input-container .icon.saturation-icon {
                background-image: url("../imgs/Saturation Icon.svg"); }
              .kee .inputs .slider-wrap .slider .change-saved-colors-container .change-colors-container .input-container .icon.shade-icon {
                background-image: url("../imgs/Light Icon.svg"); }
            .kee .inputs .slider-wrap .slider .change-saved-colors-container .change-colors-container .input-container p {
              margin: 0 7px; }
            .kee .inputs .slider-wrap .slider .change-saved-colors-container .change-colors-container .input-container input {
              margin: 10px 0; }
          .kee .inputs .slider-wrap .slider .change-saved-colors-container .saved-colors-container {
            display: grid;
            grid-template-columns: repeat(5, 40px);
            justify-content: space-around;
            place-content: space-between;
            gap: 10px;
            overflow-y: scroll;
            position: relative; }
            .kee .inputs .slider-wrap .slider .change-saved-colors-container .saved-colors-container::after {
              content: '';
              position: fixed;
              bottom: -2px;
              left: 0;
              width: 100%;
              height: 40px;
              opacity: 1;
              background: linear-gradient(0deg, #F5F5F5, rgba(0, 0, 0, 0));
              transition: all .2s ease; }
            .kee .inputs .slider-wrap .slider .change-saved-colors-container .saved-colors-container.scrolling::after {
              opacity: 0; }
            .kee .inputs .slider-wrap .slider .change-saved-colors-container .saved-colors-container p {
              margin: 20px 0; }
            .kee .inputs .slider-wrap .slider .change-saved-colors-container .saved-colors-container .saved-color-display,
            .kee .inputs .slider-wrap .slider .change-saved-colors-container .saved-colors-container .gradient-color-display {
              width: 40px;
              height: 40px;
              border: 3px solid #fff;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center; }
              .kee .inputs .slider-wrap .slider .change-saved-colors-container .saved-colors-container .saved-color-display .saved-color,
              .kee .inputs .slider-wrap .slider .change-saved-colors-container .saved-colors-container .gradient-color-display .saved-color {
                width: 1px;
                height: 1px;
                margin: 0 auto;
                border-radius: 50%;
                transition: all 0.2s;
                opacity: 0; }
                .kee .inputs .slider-wrap .slider .change-saved-colors-container .saved-colors-container .saved-color-display .saved-color.bloop,
                .kee .inputs .slider-wrap .slider .change-saved-colors-container .saved-colors-container .gradient-color-display .saved-color.bloop {
                  opacity: 1;
                  border-radius: 50%;
                  transform: scale(34); }
