// colors
$black: #000000;
$white: #ffffff;
$light-gray: #F5F5F5;
$dark-gray: #B4B4B4;
// widths
$sm: 480px;
$md: 720px;
$lg: 920px;
$xl: 1080px;

// breakpoints
$tablet: 720px;
$desktop: 1080px;

// fonts
$font: 'Noto Sans KR', sans-serif;

//font sizes
$font-h1: 40px;
$font-h2: 28px;
$font-h3: 20px;
$font-p: 12px;

//animations
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}