.saved {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    height: 100%;
    &.menu-open {
        opacity: 0.1;
    }

    .container {
        position: relative;
        width: 100%;
        margin: 0 auto; // height: 420px;

        canvas {
            position: absolute;
        }

        #sketchpadScaled {
            background:#fff;
        }
    }


}