.saved {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    height: 100%;
    &.menu-open {
        opacity: 0.1;
    }
    .notes-container {
        display: flex;
        // flex-wrap: wrap;
        // overflow-x:scroll;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 3%;
        .date, .written-note {
            font-size: 16px;
            padding: 20px 5px 5px;
        }
        .notes {
            display: flex;
            flex-wrap: wrap;
            height: auto;
            width: 100%;
            .single-note {
                height:100%;
                width: 100%;
                background: #fff;
            }
            a {
                width: 30%;
                margin: 5px;
                img {
                    height:auto;
                    width: 100%;
                    background: #fff;
                    opacity: 0;
                    transform: translateY(10px);
                    transition: .5s ease-in;
                    &.revealed {
                      transform: translateY(0);
                      opacity: 1;
                    }
                }

            }
            // remove any bad images coming through
            #mySavedImg5c8ea4bc1f1ab8000434e9b0,
            #mySavedImg5c97d55383b8f4000495c1b5 {
                display: none;
            }
        }
    }
    .container {
        position: relative;
        width: 100%;
        margin: 0 auto; // height: 420px;

        canvas {
            position: absolute;
        }

        #sketchpadScaled {
            background:#fff;
        }
    }


}