.login-form {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  position: relative;
  .form-wrapper {
    width: 100%;
  }
    .form-title {
      font-size: 2em;
      font-weight: 300;
    }
    form { 
      padding: 30px 0; 
      display: flex;
      flex-direction: column;
      transition: all .3s ease;

      label {
        font-size: .75em;
        font-weight: 400;
        padding-bottom: 10px;
      }

      input {
        margin-bottom: 25px;
        background-color: #EEEEEE !important;
        padding: 7px;
        border: none;
        color: #6A6A6A;
        border-radius: 3px;
        &:last-of-type {
          margin-bottom: 10px;
        }
        &:-webkit-autofill {
          background-color: #EEEEEE !important;
        }
      }
      button {
        background: #979797;
        font-size: 1em;
        cursor: pointer;
        border: none;
        color: white;
        padding: 9px 0;
        border-radius: 3px;
        width: 90%;
        margin: 20px auto ;
        font-weight: 100;
      }
    }
  }

  p {
    opacity: .3;
    font-size: 1.5em;
    a {
      color: $black;
      text-decoration: none;

    }
  }


// @media all and (max-width: 720px){

//   #splash {
//     background-color: #fff;
//     position: fixed;
//     top: 0;
//     left: 0;
//     height: 100vh;
//     width: 100%;
//     z-index: 10;
//     transition-property: top;
//     transition-duration: 300ms;
//     transition-delay: 1000ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
//   }

//   #eyes {
//     background-image: url("../imgs/Blinking-Avnoe-01.png");
//     background-size: contain;
//     background-repeat: no-repeat;
//     width: 50%;
//     margin: 0 auto;
//     height: 100vh;
//   }

//   #splash.animate {
//     top: -100vh;
//   }
// }