.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin:0 auto;
    padding: 25px 0;
    h1 {
        font-weight: lighter;
        padding-bottom: 25px;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3 {
            padding-bottom: 10px;
            font-weight: bold;
        }
        input {
            margin-bottom:25px;
            background:$dark-gray;
            padding: 7px;
            border: none;
            &::placeholder {
                color: $white;
                font-size: $font-p;
                font-weight:100;

            }
        }
        button {
            background: black;
            color: white;
            padding: 7px;
            border-radius: 20px;
            width: 50%;
            margin: 0 auto 20px;
            font-size: 12px;
            font-weight: 100;
        }


    }
    p {
        text-align:center;
        a {
            color: black;
        }
    }
}