.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin:0 auto;
    padding: 25px 0;
    h1 {
        font-weight: lighter;
        padding-bottom: 25px;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3 {
            padding-bottom: 10px;
            font-weight: bold;
        }
        input {
            margin-bottom:25px;
            background-color:$dark-gray;
            padding: 7px;
            border: none;
            &::placeholder {
                color: $white;
                font-size: p;
                font-weight:100;
            }
            &:focus {
              background:$light-gray;
              &::placeholder {
                color: $black;
            }
            }
        }
        button {
            background: $black;
            cursor: pointer;
            border: none;
            color: white;
            padding: 7px;
            border-radius: 20px;
            width: 50%;
            margin: 0 auto 20px;
            font-size: 12px;
            font-weight: 100;
        }


    }
    p {
        text-align:center;
        a {
            color: $black;
        }
    }
}

#splash {
  background-color: #FFF;
  position: fixed;
  top: 0;
  left:0;
  height: 100vh;
  width: 100%;
  z-index: 10;
  transition-property: top;
  transition-duration: 300ms;
  transition-delay: 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

#eyes {
  background-image: url('../imgs/Blinking-Avnoe-01.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 50%;
  margin: 0 auto;
  height: 100vh;
}

#splash.animate {
  top: -100vh;
}

#btnAdd{
  position: absolute;
  bottom: 0;
  width: 100%;
}