nav {
    display: flex;
    justify-content: space-between;
    margin: 10px 3% 0;

    .menu {
        width: 150px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-evenly;

        .menu-list {
            position: absolute;
            width: 0;
            opacity: 0;
            padding: 50px 100px;
            transition: all .5s;

            .menu-items {
                list-style-type: none;
                font-size: $font-h3;
                padding-bottom: 21px;
                font-weight: bold;
                line-height: 30px;


                a {
                    color: #000;
                    text-decoration: none;
                }
            }

            &.menu-list-open {
                animation: fade-in-right ease .5s forwards;
                z-index: 99999;
                width: 100%;
                top: 0px;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(255, 255, 255, .9);
            }

            &.menu-list-close {
                animation: fade-out-left ease .5s forwards;
                z-index: 99999;
                width: 0%;
                top: 0px;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(255, 255, 255, 0);
            }
        }

        .menu-line {
            width: 40px;
            height: 2px;
            margin: 5px 0;
            background-color: #000;
            color: #000;
            transform: none;
            transition: transform .3s;

            &.line-1-x {
                transform: rotate(45deg) translate(3px, 4px);
            }

            &.line-2-x {
                transform: rotate(-45deg) translate(4px, -7px);
            }
        }
    }

    .save {
        background-color: #000;
        color:#fff;
        padding: 7px 27px;
        font-size: 12px;
        font-weight: 300;
    }
}
