nav {
  padding: 10px 7%;
  display:flex;
  align-items: center;
  justify-content: space-between;
  transition: .3s;
  &.fixed {
    animation: fixed-nav .3s linear .3s forwards ;
    background: $light-gray;
    z-index: 99;
  }
  .menu {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;

    .menu-list {
      position: absolute;
      width: 100%;
      opacity: 0;
      z-index: -9;
      padding-top: 50px;
      padding-bottom: 50px;
      transform: translateX(-50px);
      visibility: hidden;
      top: 0px;
      bottom:0;
      left: 0;
      right: 0;
      background-color: rgba(255, 255, 255, 0);
      transition: all .5s ease;

      display:flex;
      flex-direction: column;
      justify-content: center;
      .menu-items {
        list-style-type: none;
        font-size: h3;
        padding-bottom: 21px;
        font-weight: bold;
        line-height: 30px;
        opacity:1;
        width: 84%;
        margin: 0 auto;

        a {
          color: #000;
          text-decoration: none;
        }
      }

      &.menu-list-open {
        visibility: visible;
        opacity: 1;
        z-index: 4;
        transform: translateX(0);
        background-color: rgba(255, 255, 255, 0.99);
        .menu-items {
          opacity:1;
        }
      }
    }

    .menu-line {
      width: 30px;
      height: 2px;
      // position: absolute;
      left:8%;
      margin: 5px 0;
      background-color: #000;
      color: #000;
      display: block;
      transform: none;
      transition: all 0.3s;

      &#menu-line-1 {
        top: 25px;
      }
      &#menu-line-2 {
        top: 35px;
      }

      &.line-1-x {
        transform: rotate(45deg) translate(3px, 4px);
        z-index: 5;
      }

      &.line-2-x {
        z-index: 5;
        transform: rotate(-45deg) translate(4px, -6px);
      }
    }
  }
  .save {
    @include square(53px);
    @extend %icon;
    background-image: url('../imgs/Save state 1.svg');
    &:active {
        background-image: url('../imgs/Save state 2.svg');
    }
  }
}
